  <div class="row" style="padding-top:50px;">
    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">
    <form role="form" action="https://formspree.io/wittedhaddock@gmail.com", method="POST">
      <h2>Get a free tech-support consultation.<br /><small>If near Boston or Milwaukee, we can meet for coffee (our treat).</small></h2>
      <hr class="colorgraph">
      
      <input type="hidden" name="_next" value="/thanks-for-contacting" />
      <input type="hidden" name="_cc" value="john@wallacemurry.com" />
      <div class="form-group">
                <input class="form-control input-lg" placeholder="Email Address or Phone Number" tabindex="3">

      </div>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-12"><input type="submit" value="Request A Person" class="btn btn-primary btn-block btn-lg" tabindex="7" id="register-button-on-page"></div>
      </div>
    </form>
  </div>

    <div class ="col-md-3 col-sm-4 col-xs-6 col-xs-offset-3 col-sm-offset-0">
      <div class="image-wrapper-pricing">
        <img src="../img/john-and-james.jpg" alt=""/>  
    </div>
    </div>
</div>