<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="google-site-verification" content="P5RU51sk1G7aJgwZ6se-osQVtzv5qattyfyP746Ig1M" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="author" content="{{ site.author.name }}" />
  
  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  <meta property="og:description" content="{{ page.subtitle }}" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}    
  
  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}  
  
  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}  
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css"/>

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  {% if page.id %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {% endif %}
  {% if page.share-img %}
  <meta property="og:image" content="{{ page.share-img }}" />
  {% elsif site.avatar %}
  <meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
  {% else %}
  <meta property="og:image" content="" />
  {% endif %}
  
  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}" />
  {% if page.share-img %}
  <meta name="twitter:image" content="{{ page.share-img }}" />
  {% elsif site.avatar %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.avatar }}" />
  {% endif %}

   <script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('x6sfrfbpz4wm');
</script>
 
<!-- End of Async Drift Code -->
  
  <!-- Start of Async Drift Code -->

</head>
