---
layout: base
---

{% include header.html type="page" %}
<div id="benefits-header-page">
<div class='white-bg '>
  <div class='container'>
    <div class='row'>

      <div class='col-md-6'>
              <header style="padding-bottom:150px;">
      <h1 id="pricing-header" style ="font-weight:700; padding-top:110px; ">Phone service by real people.</h1>
      <h3 class="subtitle big-font" style="text-align:center;">If you call us, you'll hear a human voice on the other side. <br /> No waiting or talking to robots.  <br /><br />
        We can meet you at a convenient location, too. Face to face is often the best way to collaborate.

        <br /> <br />
        <span class="tablet-hide">The two guys on the right? John and James. You may see them around :). </span>
        <span class="tablet-show">The two guys below? John and James. You may see them around :).</span>
      </h3>


    </header>
  </div>
    <div class='col-md-5 col-sm-offset-3 col-xs-offset-1 col-md-offset-1'>
        <img class='top-padding' src="../img/happiness.jpg" />
      </div>

<br />

    </div>
</div>
</div>
<div class='white-bg '>
  <div class='container'>
    <div class='row'>

      <div class='col-md-6'>
              <header style="padding-bottom:150px;">
      <h1 id="pricing-header" style ="font-weight:700; padding-top:110px; "> Our mission is to empower. </h1>
      <h3 class="subtitle big-font" style="text-align:center;">You shouldn't just hear from your phone company when they're asking for your money each month.  <br /><br />
        We believe your phone company should help you with any of your technology problems at any time.
      </h3>


    </header>
  </div>
    <div class='col-md-6'>
        <img class='top-padding' src="/img/ben-helping-bobby.jpg" />
      </div>

<br />

    </div>
</div>
</div>
</div>


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
