---
layout: base_home
---

{% include header.html type="page" %}

<!-- <div class="intro-header no-img">
  <div class="page-heading">
    <h1>
      <img class='main-logo' src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
      Caffeine
    </h1>
    <h2 class="page-subheading">{{ page.subtitle }}</h2>
  </div>
</div> -->
<div class='white-bg frontpage-header'>
  <div class='container split-header'>
    <div class='row'>

      <div class='col-md-6 '>
        <h1 class='main-headline'>
          The big phone companies took advantage of our family, so we started one for them.

        
        </h1>
        <h2 class='sub-main-headline'>
          Call 617-963-0004 to schedule a free consultation. 
                    

        </h2>


        <div class='main-cta'>
          <form class="form-inline" action ="https://formspree.io/wittedhaddock@gmail.com", method="POST">
            <div class="form-group">
              <label class="sr-only" for="emailInput">Contact Information</label>
              <div class="input-group">
                <input class="form-control input-lg" id="emailInput" placeholder="Enter Contact Info">
              </div>
            </div>
            <input type="hidden" name="_next" value="/thanks-for-contacting" />
            <input type="hidden" name="_cc" value="john@wallacemurry.com" />
            <button type="submit" class="btn btn-primary btn-lg" onclick="ga('send', 'first_contact_cta')">Request a Person</button>
          </form>
          <!-- <div class='post-cta-headline'>Already sold? <a href=''>Let's get you signed up.</a></div> -->

         <!-- <a href='/benefits' class='btn btn-warning btn-superlg'>Learn More</a> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      {{ content }}
    </div>
  </div>
</div>
