---
layout: base_home
---

{% include header.html type="page" %}

<!-- <div class="intro-header no-img">
  <div class="page-heading">
    <h1>
      <img class='main-logo' src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
      Caffeine
    </h1>
    <h2 class="page-subheading">{{ page.subtitle }}</h2>
  </div>
</div> -->
<div class='white-bg frontpage-header'>
  <div class='container split-header'>
    <div class='row'>

      <div class='col-md-6 '>
        <h1 class='main-headline'>
          Frustrated with your phone company? Our parents were too, so we started one for them.

        
        </h1>
        <h2 class='sub-main-headline'>
          Call 414-939-8586 to schedule a free consultation. 
                    

        </h2>


        <div class='main-cta mobile-hide'>
          <form class="form-inline" action ="https://formspree.io/wittedhaddock@gmail.com", method="POST">
            <div class="form-group">
              <label class="sr-only" for="emailInput">Contact Information</label>
              <div class="input-group">
                <input class="form-control input-lg" id="emailInput" type="text" name="contact-info" placeholder="Enter Phone Number">
              </div>
            </div>
            <input type="hidden" name="_next" value="/thanks-for-contacting" />
            <input type="hidden" name="_cc" value="john@wallacemurry.com" />
            <button type="submit" class="btn btn-primary btn-lg" onclick="ga('send', 'first_contact_cta')">Get In Touch</button>
          </form>
          <!-- <div class='post-cta-headline'>Already sold? <a href=''>Let's get you signed up.</a></div> -->

         <!-- <a href='/benefits' class='btn btn-warning btn-superlg'>Learn More</a> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row icon-summary">

   <div class='col-md-6 offset-md-1'>
      <h3 class='blue-highlight big-subtitle-font'>Perks of Our Nationwide Network</h3>
        <ul class='front-page-sub-text bigger-body-font'>
      <li class='padded-slightly'>The largest nationwide network with the best coverage and fastest 4G/LTE speeds available. No slow lanes.</li> 
      <li class='padded-slightly'>No contracts and we'll handle the activation for free.</li> 
      <li class='padded-slightly'>Keep your phone number for free. We assist you in person and ensure you keep what's yours.</li>
      <li class='padded-slightly'>Other phone companies sell your data to advertisers. We don't.</li>
    </ul>
    </div>
    <div class='col-md-4 col-sm-offset-1'>
      <img src="img/coverage-map.png" alt="Wallace Murry provides integrated app support, like finding your train with an iphone">
    </div>


  </div>
</div>

<div class="white-bg">
<div class="container">


  <div class="row icon-summary force-white-bg">

    <div class='col-md-6'>
      <img src="img/support.jpg" alt="Wallace Murry provides integrated app support, like finding your train with an iphone">
    </div>
    <div class='col-md-5'>
      <h3 class='blue-highlight big-subtitle-font'>Services First, Phones Second</h3>
      <p class='front-page-sub-text bigger-body-font'>
      We can provide in-person tech-help to the Greater Boston and Milwaukee Areas.  <br /> <br />You deserve personalized and professional support from your phone company.<br />
    </p>
    </div>
  

  </div>
</div>
</div>
<div class="container" role="main">

  <div class="row">
    <div class="col-lg-12 col-md-12">
      {{ content }}
    </div>
  </div>


</div>



