---
layout: base_home
---

{% include header.html type="page" %}

<!-- <div class="intro-header no-img">
  <div class="page-heading">
    <h1>
      <img class='main-logo' src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
      Caffeine
    </h1>
    <h2 class="page-subheading">{{ page.subtitle }}</h2>
  </div>
</div> -->
<div class='container white-bg'>
<div class='row'>

      <div class='col-md-8 col-md-offset-2 '>
        <h1 class='main-headline' style='padding-top:50px;'>
          It's important that your phone company help you learn how to use the thing.         
        </h1>
      </div>
    </div>
<div class='services-header'>
  <div class='services-top'>
    
  </div>
</div>
  </div>

<div class="container">
  <div class="row icon-summary">

   <div class='col-md-8 col-md-offset-2'>
      <h3 class='blue-highlight big-subtitle-font-top'>Collaboration is more than just customer support</h3>
      <p class='bigger-body-font'>
        You deserve to feel safe and empowered with your smartphone and internet at no extra charge. Members on our network enjoy included services like: 

        <ul>
          <li class='bigger-body-font padded-slightly'> Receiving help from our Wisconsin call center at any time. No waiting.</li>
          <li class='bigger-body-font padded-slightly'> Enjoy emailing on the go, solitaire, Skyping with family, or browsing Google. We can help with all app downloading, installation, and setup. </li>
          <li class='bigger-body-font padded-slightly'> Password resetting and remembering. If you don't remember your password, we can help you reset it. Then we can write it on a laminated sheet of paper to prevent future repeats. </li>
          <li class='bigger-body-font padded-slightly'>Facebook privacy settings. By default, Facebook collects as much data about you as they can. We can help you adjust those settings to your preferred level of comfort.</li>
        </ul>

      </p>
    </div>


  </div>
</div>



<div class="white-bg">
<div class="container">


  <div class="row icon-summary force-white-bg">

    <div class='col-md-8 col-md-offset-2'>
      <h3 class='blue-highlight big-subtitle-font'>Other things we do that other phone companies don't</h3>
     <ul>
          <li class='bigger-body-font padded-slightly'>Home internet and Wifi troubleshooting. Internet problems are the worst! Your home wifi router should be speedy, secure, and not give you grief.</li>
          <li class='bigger-body-font padded-slightly'>Online fraud prevention. We've seen it all: Saudi "princes" and Microsoft Tech Support calling to help with your Apple laptop. We can act as a legitimacy filter 24/7/365. </li>
          <li class='bigger-body-font padded-slightly'>T.V. channels and remotes are complicated! We can come over and go through these things at your pace. </li>
          
        </ul>
     
     <p class='bigger-body-font'>
      We can't solve all your problems, but we can reduce a lot of frustrations with tech-related things. </p>
    </div>
  

  </div>
</div>
</div>
<div class="container" role="main">

  <div class="row">
    {% include form-cta-with-image.html %}

    <div class="col-lg-12 col-md-12">
      {{ content }}
    </div>
  </div>


</div>



