---
layout: base_home
---

{% include header.html type="page" %}

<!-- <div class="intro-header no-img">
  <div class="page-heading">
    <h1>
      <img class='main-logo' src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
      Caffeine
    </h1>
    <h2 class="page-subheading">{{ page.subtitle }}</h2>
  </div>
</div> -->
<div class='container white-bg'>
<div class='row'>

      <div class='col-md-8 col-md-offset-2 '>
        <h1 class='main-headline' style='padding-top:50px;'>
          It's important that your phone company help you learn how to use the thing.         
        </h1>
      </div>
    </div>
<div class='services-header'>
  <div class='services-top'>
    
  </div>
</div>
  </div>


<div class="container">
  <div class="row icon-summary">

   <div class='col-md-6 offset-md-1'>
      <h3 class='blue-highlight big-subtitle-font'>Device set-up and tutorial</h3>
        We can assist you in-person through the entire set-up process.
    </div>
    <div class='col-md-4 col-sm-offset-1'>
      <img src="img/coverage-map.png" alt="Wallace Murry provides integrated app support, like finding your train with an iphone">
    </div>


  </div>
</div>

<div class="white-bg">
<div class="container">


  <div class="row icon-summary force-white-bg">

    <div class='col-md-6'>
      <img src="img/support.jpg" alt="Wallace Murry provides integrated app support, like finding your train with an iphone">
    </div>
    <div class='col-md-5'>
      <h3 class='blue-highlight big-subtitle-font'>Services First, Phones Second</h3>
      <p class='front-page-sub-text bigger-body-font'>
      We can provide in-person tech-help to the Greater Boston and Milwaukee Areas.  <br /> <br />You deserve personalized and professional support from your phone company.<br />
    </p>
    </div>
  

  </div>
</div>
</div>
<div class="container" role="main">

  <div class="row">
    {% include form-cta-with-image.html %}

    <div class="col-lg-12 col-md-12">
      {{ content }}
    </div>
  </div>


</div>



